.App {
  width: 100vw;
  height: 100vh;
  max-width: 1440px;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat" !important;
}
.App .bg-forms {
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./images/forms.png");
}
@media (max-width: 1024px) {
  .App {
    flex-direction: column;
  }
  .bg-forms {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .bg-forms {
    display: none;
  }
}
@media (max-width: 480px) {
  .App {
    overflow-x: scroll;
  }
}
