.register {
  height: 550px;
  min-height: 550px;
}
.register,
.registration-form .illustration-box {
  border-radius: 30px;
  box-shadow: 0 10px 28px 10px rgba(199, 199, 199, 0.3),
    0 15px 12px rgba(151, 150, 150, 0.22);
}
.registration-form .illustration-box {
  top: -40px;
  right: -40px;
  border: 1px dashed #0d2551;
  width: 100px;
  height: 100px;
}
.registration-form .illustration-box img {
  border-radius: 30px;
}
.registration-form .header h1,
.registration-form form label,
.registration-form form input {
  color: #0d2551;
}
.registration-form form input {
  height: 4rem;
  font-size: 18px;
  border: 1px solid #dbdfe0;
  border-radius: 2rem;
  background-color: #fafcff;
  box-shadow: inset 1px 0px 69px -44px rgba(0, 0, 0, 0.1);
}
.registration-form form .input-icon {
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  pointer-events: none;
}
.registration-form form .register-button .btn {
  right: 1rem;
  width: 10rem;
  height: 3.2rem;
  color: #fff;
  background-color: #0d2551;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 2px 0px 10px -25px rgba(0, 0, 0, 0.1);
}
.registration-form form .register-button .btn:hover {
  color: #0d2551;
  background-color: #fff;
  border: 1px solid #0d2551;
}
.registration-form form input:focus {
  border: 1px solid #0d2551;
}
@media (max-width: 1024px) {
  .register {
    width: 100% !important;
    margin-top: 20px !important;
    box-shadow: none;
    border-radius: 0;
  }
  .registration-form .illustration-box {
    top: 0;
    right: 0;
  }
}
@media (max-width: 500px) {
  .registration-form .illustration-box {
    width: 65px;
    height: 65px;
    border-radius: 15px;
    box-shadow: none;
  }
  .registration-form .header h1 {
    font-size: 23px;
  }
}
